.sec{
    color: #F2F2F2;
    background-color: #32b2b7;
    width: 999px;
    height: 400px;
    border-radius:30px;
    border:None;
    font-weight: bold;
    font-align: center;
    font-size: 20px;
}
.hero{
    color: #F2F2F2;
    background-color: #185E3F;
    width: 200px;
    height: 200px;
    border-radius:30px;
    border:None;
    font-weight: bold;
    font-align: center;
    font-size: 20px;
}

    color:#258B7F;
    background-color: #F2F2F2;
}
